html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	/* border: 0; */
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
*{
    box-sizing: border-box;
    max-width: 100%;
     border: solid black 1px; 
}
html{
    font-size: 62.5%;
}
body {
    line-height: 1.5;
    font-size: 1.6rem;
	 font-family: 'Syncopate', sans-serif; 
    color: #4f4f4f;
   
  }
  #myContact{
      display:flex;
      flex-direction: column;     
      justify-content:space-around;
      align-items:center;
      height: 80vh;
      width:100%
  }
  h1{
    font-family: 'Smooch', cursive;;
    font-size: 6rem;
    color: black;
    display: flex;
  }
  #info{
      display:flex;
      align-items: flex-start;
      width:100%;
      justify-content: space-evenly;
  }
    
    h2{
        display:flex;
        align-items: center;
        justify-content: left;
    }

  
  header{
    display: flex;
    justify-content: space-between;
    /* border:solid black 2px; */
    /* background-color: blanchedalmond; */
    
}
#name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width:50%
}
#navBar{
    display:flex;
    width: 50%;
    height: 10vh;
    justify-content:flex-end;
    align-items: center;
    /* padding:1%;
    padding-top: 1.5%; */
}
button{
    border-radius:360px;
    justify-content: space-evenly;
    /* margin-left: 2%; */
    background-color: orange;
}
a{
    text-decoration: none;
    color:black;

}
a:hover{
    color:white;
    cursor: cell;
}
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    /* border:solid black 2px; */
    /* background-color: blanchedalmond; */
    padding:1%
}
footer.button{
    margin:0;
    padding:1%;
}
